Src/target/**
Src/.project
Src/.settings/**
Src/.settings/
Src/.classpath
Src/.factorypath
# Java class files
*.class
nb-configuration.xml
.idea/
*.iml
*.bak
/target/
Src/src/main/webapp/WEB-INF/web.develop.xml
Src/src/main/webapp/WEB-INF/web.pre.prod.xml
Src/src/main/webapp/WEB-INF/web.prod.a.xml
Src/src/main/webapp/WEB-INF/web.prod.b.xml