target/**
Src/.project
Src/.settings/
Src/.classpath
Src/.factorypath
# Java class files
*.class
nb-configuration.xml
.idea/
*.iml
*.bak
/target/
src/main/webapp/WEB-INF/web.develop.xml
src/main/webapp/WEB-INF/web.pre.prod.xml
src/main/webapp/WEB-INF/web.prod.a.xml
src/main/webapp/WEB-INF/web.prod.b.xml