
/***
Customized Bootstrap Modal 
***/
.modal {
  z-index: 10050;
  outline: none;
  overflow-y: auto !important;
  /* Fix content shifting to the right on modal open due to scrollbar closed */ }
  .page-portlet-fullscreen .modal {
    z-index: 10060; }
  .modal .modal-header {
    border-bottom: 1px solid #EFEFEF; }
    .modal .modal-header h3 {
      font-weight: 300; }
    .modal .modal-header .close {
      margin-top: 0px !important; }
  .modal.draggable-modal .modal-header {
    cursor: move; }
  .modal .modal-dialog {
    z-index: 10051; }
  .modal > .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px; }
  .modal.in .page-loading {
    display: none; }

.modal-open {
  overflow-y: auto !important; }

.modal-open-noscroll {
  overflow-y: hidden !important; }

.modal-backdrop {
  border: 0;
  outline: none; }
  .page-portlet-fullscreen .modal-backdrop {
    z-index: 10059; }
  .modal-backdrop, .modal-backdrop.fade.in {
    background-color: #333 !important; }

body[ng-controller] .modal-backdrop {
  z-index: 10049 !important; }

body[ng-controller] .modal {
  z-index: 10050 !important; }

/* Full width modal */
.modal-full.modal-dialog {
  width: 99%; }

@media (max-width: 768px) {
  .modal-full.modal-dialog {
    width: auto; } }

