<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>
        MMC - Booking
    </display-name>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404_page.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/payment.jsp</url-pattern>
            <url-pattern>/recap_resa.jsp</url-pattern>
            <url-pattern>/rooms.jsp</url-pattern>
            <url-pattern>/WEB-INF/jspf/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <env-entry> 
        <env-entry-name>booking-url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:8080/booking</env-entry-value> 
    </env-entry>
    <env-entry> 
        <env-entry-name>api-url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:8080/api</env-entry-value> 
    </env-entry>    
   <env-entry> 
        <env-entry-name>e-api-url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>http://localhost:8080/e/api</env-entry-value> 
    </env-entry> 
</web-app>
