target/**

# Java class files
*.class
/target/
src/main/webapp/WEB-INF/web.develop.xml
src/main/webapp/WEB-INF/web.pre.prod.xml
src/main/webapp/WEB-INF/web.prod.a.template.xml
src/main/webapp/WEB-INF/web.prod.a.node.a.xml
src/main/webapp/WEB-INF/web.prod.a.node.b.xml
src/main/webapp/WEB-INF/web.prod.b.node.a.xml
src/main/webapp/WEB-INF/web.prod.b.node.b.xml